.exitBtn {
  position: relative;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  display: flex;
  margin-left: 32px;
  color: #9b9faa;
  background-color: transparent;
  border: none;
  transition: color 300ms linear;
}
.wrapper {
  display: flex;
}
.exitBtn::before {
  transform: translateY(-25%);
  position: absolute;
  content: '';
  display: block;
  width: 2px;
  height: 32px;
  left: -16px;
  background-color: #9b9faa;
}
.exitBtn:hover,
.exitBtn:focus {
  color: #212121;
}
.user {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.04em;
  color: #212121;
}
